body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* header {
	width: 600px;
	margin: 0 auto;
	padding: 20px;
	background: #26a69a;
	border-bottom: 1px solid;
	font-weight: bold;
}

.collection {
	width: 600px;
	margin: 0 auto;
	
}
.collection-item {
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.material-icons {
	cursor: pointer;
}

.delete {
	color: red;
	margin-left: 20px;
}

.done {
	color: #26a69a;
}
.but-group {
	display: flex;
}
.edit {
	margin-right: 20px;
}

#but {
	display: flex;
	padding: 0 50px;
}
#newTask {
	padding-left: 20px;
}

.activeTasksNumber {
	margin-left: 20px;
	font-size: 25px;
}

p {
	margin: 0;
} */
